.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px 12px;
  position: relative;
  align-items: center;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.mobilemenu {
  display: none;
}
.webmenu {
  display: flex;
}
.logo {
  display: flex;
  font-size: 36px;
  padding-left: 1em;
  color: rgb(226, 43, 131);
  font-weight: 800;
}

.closeIcon {
  color: #ff69b4;
}
@media only screen and (max-width: 720px) {
  .mobilemenu {
    display: flex;
  }
  .webmenu {
    display: none;
  }

  .logo {
    font-size: 28px;
  }
}
